  on: [push]
  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2
        - uses: nttld/setup-ndk@v1
          with:
            ndk-version: r23b
        - run: ndk-build
          env:
            ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
        - uses: actions/upload-artifact@v4
          with:
            name: build
            path: ./ipk/*.ipk
